body {
  background: linear-gradient(to bottom, #bffcff, #ffffff);
  font-family: Arial;
  text-align: center;
}

#game {
  width: 700px;
  height: 500px;
  border: 8px solid cyan;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.5);
}

#claw {
  width: 60px;
  height: 60px;
  background: silver;
  position: absolute;
  top: 0;
  left: 300px;
}

.toy {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
}

#toy1 {
  background: hotpink;
  left: 100px;
}

#toy2 {
  background: lime;
  left: 300px;
}

#toy3 {
  background: orange;
  left: 500px;
}
